body{
    background-color: #b2ebf2;
    margin: 0;
}

#headingId{
    background-color: #00bcd4;
    padding-top: 5px;
    padding-bottom: 5px;
}

#headerNav{
    display: inline-block;
    width: 20%;
    text-align: center;
    color: floralwhite;
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto;
}

#record{
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    font-size: 18px;
    background-color: lightblue; 
}

#dataFetch{
    background-color: #e0f7fa;
    margin: 10px;
}

#pagination{
    width: 25%;
    margin: 0 auto;
}

input{
    margin: 25px;
    margin-left: 35px;
    background-color: #00bcd4;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}